@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trebuchet+MS&display=swap');

body {
    background-color: #fff;
}

body#home-page {
    background-color: #fff;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-position: center -50px;
    background-size: 107%;
}

body::-webkit-scrollbar {
    background-color: rgba(117, 78, 249, 0.5);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #754EF9;
    border-radius: 10px;
}

@media (max-width: 991px) {
    body#home-page {
        background-position: center -100px;
        background-size: 107% 700px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 110px;
    z-index: 3;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    z-index: 3;
}

#LOGO {
    color: #754ef9;
    text-decoration: none;
}

#LOGO h1 {
    font: normal normal bold 37px/47px Trebuchet MS;
    font-weight: 700;
}

header nav {
    display: flex;
    align-self: center;
    gap: 91px;
}

header nav a {
    text-decoration: none;
    color: #101010;
}

#Group_12 a {
    font: normal normal 600 20.5px/32px Open Sans;
    font-family: OpenSans-Semibold, Open Sans;
    font-weight: 600;
    text-decoration: none;
    color: #101010;
    position: relative;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 233.1px;
    height: 53.79px;
    background-color: #754EF9;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font: normal normal 500 19.3px/26px 'Open Sans';
    z-index: 10;
}

#menu-toggle {
    right: 137px;
    width: 50px;
    height: 50px;
    background: #744df7;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

#menu-toggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#menu-toggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#menu-toggle.active::before {
    transform: translateY(0) rotate(45deg);
}

#menu-toggle.active::after {
    transform: translateY(0) rotate(-45deg);
}

@media (max-width: 991px) {
    header {
        padding: 0 40px;
        z-index: 10;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: 1px;
        overflow: hidden;
        top: 80px;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    header nav.active {
        height: calc(100% - 100px);
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        z-index: 10;
    }

    #Group_12 {
        display: flex;
        flex-direction: column;
        opacity: 1 !important;
        gap: 0px;
        text-align: center;
    }

    #Group_12 a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #BUTTON-2 {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        transition: opacity 0.5s ease-in-out;
    }

    #BUTTON-2.active {
        opacity: 1;
        /* Fully visible when active */
    }

    #Group_12.active + #BUTTON-2 {
        display: flex;
    }

    #menu-toggle {
        display: flex;
        z-index: 10;
    }
}

section {
    display: flex;
    width: 100%;
    height: 1083px;
    justify-content: center;
    align-items: center;
}

#home {
    position: relative;
    height: 770px;
    align-items: center;
}

.home-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 60px);
}

.home-content {
    position: absolute;
    transform: translate(50px, 400px);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.title {
    display: flex;
    font: normal normal bold 110px/150px 'Trebuchet MS';
}

.my {
    margin-right: 50px;
}

.work {
    display: flex;
    position: relative;
    color: #754EF9;
}

#home .work {
    transform-style: preserve-3d;
}

.work::after {
    position: absolute;
    top: calc(50% - .5*0.125em);
    left: -20px;
    /* Anchor the line on the left */
    width: 510px;
    height: 25px;
    background: #ffff;
    box-shadow: 0px 3px 6px #00000029;
    content: "";
    z-index: -1;
}

@keyframes stretch {
    from {
        width: 0px;
    }

    to {
        width: 510px;
    }
}

.work:hover::after {
    animation: stretch 2s;
}


.letter {
    transform: rotatey(-0.5deg);
}

.myWORK {
    font: normal normal 600 35px/60px Open Sans;
    color: #101010;
}

.social-media {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    width: 30.36px;
    height: 497.7px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.social-media::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 101.2px;
    background: #754EF9;
    top: 135px;
}

.social-media::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 101.2px;
    background: #754EF9;
    bottom: 135px;
}

.content2 {
    font: normal normal 600 19px/26px Open Sans;
    color: #754EF9;
    width: 130px;
    height: 26px;
}

@media ( max-width: 991px ) {

    section {
        padding: 0 40px;
    }

    #home {
        height: 60vh;
    }

    .home-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font: normal normal bold 50px/70px 'Trebuchet MS';
        position: relative;
        z-index: 2;
    }

    .work {
        z-index: -1;
    }

    .work::after {
        width: 230px;
        height: 12.5px;
        left: -10px;
    }

    .myWORK {
        font: normal normal 600 15px/60px Open Sans;
    }

    .my {
        margin-right: 15px;
    }

    @keyframes stretch {
        from {
            width: 0px;
        }
    
        to {
            width: 230px;
        }
    }

    .home-content {
        transform: translate(-97px, 165px);
    }

    .social-media {
        display: none;
    }
}

#about {
    flex-direction: column;
    height: 1080px;
    gap: 48px;
}

.container1 {
    display: flex;
    flex-direction: row;
    position: relative;
}

.my-Portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-P {
    font-size: 43px;
    font-family: OpenSans-Semibold, Open Sans;
    font-weight: 600;
}

.UX {
    font-size: 21px;
    font-family: Roboto-Regular, Roboto;
    opacity: 0.5;
}

#button {
    cursor: pointer;
}

/* Media Query for Tablets (between 768px and 991px) */
@media (max-width: 991px) {
    #about {
        height: 100%;
    }

    .container1 {
        flex-direction: column;
        gap: 20px;
    }
    .my-P {
        font-size: 36px;
    }
    .UX {
        font-size: 18px;
    }
    .rectangle1 svg, .rectangle2 svg, .rectangle3 svg {
        max-width: 100%;
        height: auto;
    }
}

/* Media Query for iPads and Nest Hub */
@media (min-width: 768px) and (max-width: 1280px) {
    #about {
        height: 100%;
        padding-top: 50px;
    }

    .container1 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

/* Media Query for Mobiles (max-width of 767px) */
@media (max-width: 767px) {
    #about {
        height: 100%;
        gap: 15px;
    }
    .my-P {
        font-size: 30px;
    }
    .UX {
        font-size: 16px;
    }
    .rectangle1 svg, .rectangle2 svg, .rectangle3 svg {
        width: 100%;
    }
}

#work {
    display: flex;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 19px;
}

.photo1,
.photo2,
.photo3,
.photo4,
.photo5,
.photo6,
.photo7 {
    width: 442px;
    height: auto;
}

.photo8 {
    width: 903px;
    height: auto;
    grid-column: span 2;
}

.content-image {
    width: 100%;
    height: auto;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    height: 441px;
}

.img-wrapper>.content-details {
    position: absolute;
    inset: 0;
    padding: 1rem;
    background: url(./images/hover.svg) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-text {
    color: #f3f3f3;
    font-size: 18px;
    font-family: Open Sans;
    letter-spacing: 0.01em;
    opacity: 0.5;
    text-align: center;
}

.photo8 .content-text {
    width: 578px;
    height: 108px;
}

.img-wrapper>img,
.img-wrapper>.content-details {
    transition: 200ms ease-in-out;
}

.img-wrapper>.content-details {
    transform: translateX(-100%);
}

.img-wrapper:hover>.content-details {
    transform: translateX(0);
}

.img-wrapper img {
    max-width: 100%;
    height: auto;
}

.expand-button {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 15px;
}

.expand-button h4 {
    position: relative;
    color: #f3f3f3;
    font-size: 13px;
    font-family: Open Sans;
    letter-spacing: 0.01em;
    opacity: 0.5;
    align-self: flex-end;
}

@media ( max-width: 991px ) {
    #work {
        height: 100%;
        margin-top: 50px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8 {
        width: 100%;
        height: auto;
    }
    
    .content-text {
        width: 100%;
        height: auto;
    }

    .photo8 .content-text {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .content-text {
        width: 100%;
        height: auto;
        font-size: 15px;
    }

    .photo8 .content-text {
        width: 100%;
        height: auto;
    }

    .expand-button {
        bottom: 10px;
        right: 10px;
    }

    .expand-button h4 {
        font-size: 12px;
    }
}

/* Mobiles */
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .content-text {
        font-size: 16px;
    }

    .photo8 {
        grid-column: span 1; /* Override to make it full width on mobile */
    }

    .img-wrapper > .content-details {
        padding: 0.5rem;
    }

    .photo8 .content-title svg {
        width: 100px;
    }

    .expand-button {
        bottom: 10px;
        right: 10px;
    }

    .expand-button h4 {
        font-size: 12px;
    }

    .photo8 .content-text {
        width: 100%;
        height: auto;
        font-size: 10px;
        transform: translateY(-15px);
    }

    .photo8 .expand-button img {
        width: 15px;
    }
}

/* Tablets (like iPads) and Nest Hub */
@media (min-width: 481px) and (max-width: 1280px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "photo1 photo2"
            "photo8 photo8"
            "photo3 photo4"
            "photo5 photo6"
            "photo7 photo7";
    }

    .photo1 { grid-area: photo1; }
    .photo2 { grid-area: photo2; }
    .photo3 { grid-area: photo3; }
    .photo4 { grid-area: photo4; }
    .photo5 { grid-area: photo5; }
    .photo6 { grid-area: photo6; }
    .photo7 { grid-area: photo7; }
    .photo8 { grid-area: photo8; }

    .content-text {
        font-size: 17px;
    }

    .photo8 .content-text {
        font-size: 17px;
    }

    .expand-button h4 {
        font-size: 13px;
    }
}

/* Additional styles for Nest Hub */
@media (min-width: 801px) and (max-width: 1280px) {
    .content-text {
        font-size: 20px;
    }

    .photo8 .content-text {
        font-size: 20px;
    }

    .expand-button {
        bottom: 20px;
        right: 20px;
    }

    .expand-button h4 {
        font-size: 15px;
    }
}

.brief {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.my-Brief {
    text-align: center;
}

.my-Name {
    font-size: 43px;
    font-family: OpenSans-Semibold, Open Sans;
    font-weight: 600;
}

.my-Brief p {
    font-size: 25px;
    font-family: Open Sans;
    opacity: 0.5;
}

.rectangle-bg {
    display: flex;
    width: 1153px;
    height: 451px;
    align-items: center;
    justify-content: center;
    background: #754EF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 30px #00000012;
}

.my-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1089px;
    height: 510px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000014;
}

.my-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 0 50px;
}

.my-card-content img {
    width: 194px;
}

.my-card-content p {
    width: 844px;
    font-size: 14px;
    font-family: Open Sans;
    opacity: 0.5;
}

.slider_dot {
    justify-content: center;
    display: flex;
    margin: 84px;
}

@media (max-width: 1024px) {
    #brief {
        height: 100%;
        margin-top: 50px;
    }

    .brief {
        gap: 20px;
    }
    .rectangle-bg {
        width: 80%; /* Relative width */
        height: auto;
    }
    .my-card {
        width: 90%;
    }
    .my-card-content p {
        width: 80%;
        font-size: 12px;
    }
}

/* Media Query for Mobiles (max-width of 767px) */
@media (max-width: 767px) {
    .brief {
        gap: 20px;
    }

    .my-Brief {
        padding: 0 20px;
    }
    .my-Name {
        font-size: 30px;
    }
    .my-Brief p {
        font-size: 18px;
    }
    .rectangle-bg {
        width: 100%;
        padding: 20px;
    }
    .my-card {
        width: 100%;
        box-shadow: none;
    }
    .my-card-content {
        padding: 20px;
        gap: 20px;
    }
    .my-card-content img {
        width: 150px;
    }
    .my-card-content p {
        width: 100%;
        font-size: 12px;
    }
    .slider_dot {
        margin: 40px 0;
    }
}

#contact {
    height: 590px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content h1 {
    font: normal normal 600 47px/32px Open Sans;
    color: #202020;
    width: 406px;
    height: 64px;
}

.contact-content p {
    font: normal normal normal 23px/31px Open Sans;
    margin: 0 0 50px 0;
    color: #202020;
    opacity: 0.5;
}

#input_bar {
    width: 797px;
    height: 77px;
    background-color: #744df7;
    position: relative;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

input {
    outline: none;
}

.form-control {
    width: 70%;
    height: 77.306px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #181818;
    background-color: #fff;
    background-clip: padding-box;
    border: solid #744df7;
    border-radius: 0.25rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: #754ef9;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.hire-me {
    width: 258.732px;
}

.btn.send {
    width: 258.732px;
}

/* Media Query for Mobiles and Nest Hubs (max-width of 767px) */
@media (max-width: 767px) {
    .contact-content h1 {
        font-size: 30px;
        width: 100%;
    }
    .contact-content p {
        font-size: 18px;
    }
    #input_bar {
        width: 100%;
    }
    .form-control {
        width: 65%;
    }
    .btn {
        width: 30%;
    }
    .input-group {
        flex-direction: column;
        align-items: stretch;
    }
    .form-control, .btn {
        width: 100%;
    }
}

footer {
    width: 100%;
    height: 195px;
    background-color: #754ef9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-text {
    display: flex;
    gap: 80px;
}

.footer-icons {
    display: flex;
    gap: 35px;
}

.footer-link {
    color: white;
    font: normal normal normal 21px/34px Open Sans;
    text-decoration: none;
    opacity: 0.75;
}

.footer-logo {
    font-size: 48px;
    font-family: "Trebuchet MS";
    font-weight: 700;
}

.footer-icons i {
    font-size: 30px;
    color: white;
    transition: color 0.3s;
}

.footer-icons i:hover {
    color: #ddd;
}

/* Media Query for Tablets (between 768px and 1024px) */
@media (min-width: 481px) and (max-width: 1280px) {
    footer {
        padding: 0 15px;
    }
    .footer-logo {
        font-size: 40px;
    }
    .footer-link {
        font-size: 18px;
    }
    .footer-icons i {
        font-size: 24px;
    }
    .footer-text {
        gap: 40px;
    }
    .footer-icons {
        gap: 20px;
    }
}

/* Media Query for Mobiles and Nest Hubs (max-width of 767px) */
@media (max-width: 767px) {
    footer {
        padding: 20px 30px;
        flex-direction: column;
        gap: 20px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-logo {
        font-size: 36px;
    }
    .footer-text {
        gap: 20px;
    }
    .footer-icons {
        gap: 15px;
    }
    .footer-link {
        font-size: 16px;
    }
    .footer-icons i {
        font-size: 22px;
    }
}

/* cv.html style */

#cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}

#cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 80px;
}

.cv-header {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 42px;
    margin-left: 80px;
}

.cv-header img {
    width: 159.8px;
}

.cv-header h1 {
    font: normal normal 600 35px/20px Open Sans;
    color: #202020;
}

.cv-header p {
    font: normal normal normal 18px/20px Open Sans;
    display: contents;
    color: #202020;
    opacity: 0.5;
}

.cv-body {
    height: 600px;
    display: flex;
    gap: 190px;
}

.group {
    display: grid;
    height: 100%;
}

.group-2 {
    align-self: end;
    height: 250px;
}

.group-1 .title,
.group-2 .title {
    color: #754ef9;
    font: normal normal 600 35px/24px Open Sans;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-title {
    color: #202020;
    font: normal normal normal 18px/21px Roboto;
}

.group-details {
    color: #202020;
    font: normal normal 300 14px/24px Open Sans;
    opacity: 0.5;
    display: flex;
}

.group-details a {
    color: #754ef9;
    text-decoration: none;
}

.fourth .education-details {
    height: 51px;
}

.progress-bar-container {
    width: 200px;
    height: 10px;
    background-color: rgba(117, 78, 249, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #754ef9;
    border-radius: 5px;
    position: relative;
}

.progress-bar::after {
    content: attr(data-percentage) '%';
    position: absolute;
    right: 0;
    top: 100%;
    color: #754ef9;
    font-size: 8px;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue';
    font-weight: 500;
}

.progress-text {
    display: grid;
    width: 100%;
}

.percentage {
    display: none;
}

.maximum {
    color: #754ef9;
    font-size: 10px;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue';
    font-weight: 500;
    justify-self: end;
}

.social-media-icons {
    display: flex;
    gap: 20px;
}

.social-media-icons i {
    margin-top: 10px;
    font-size: 20px;
    color: #754ef9;
    transition: color 0.3s;
}

@media screen and (max-width: 1200px) {

    .cv-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        justify-content: center;
    }

}

@media screen and (max-width: 900px) {
    .cv-body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 0 40px;
    }

    .cv-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .cv-header img {
        width: 159.8px;
    }

    .cv-header h1 {
        line-height: 100%;
    }

    .group {
        height: 100%;
        gap: 50px;
    }

    .group-details {
        display: contents;
    }

    .progress-text {
        width: 65%;
    }

}